body {
  width: 100vw;
  height: 100vh;
  font-size: 32px;
  margin: 0;
}

.title-container {
  display: flex;
  justify-content: space-around;
  background-color: lightpink;
}

#content {
  display: grid;
  grid-template-columns: 30% 70%;
}

#project-container {
  background-color: lightgreen;
  height: 100vh;
}

#task-container {
  background-color: lightblue;
  height: 100vh;
}

.task-item,
.project-item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid grey;
}

.low-priority {
  border-left: 10px solid green;
}

.medium-priority {
  border-left: 10px solid yellow;
}

.high-priority {
  border-left: 10px solid red;
}